<!DOCTYPE html>
<html>
<head>
    <title>Добавление филиала</title>
    <%- include('blocks/head') %>
    <style>.field{width:360px;}</style>
</head>
<body>\
    <%- include('blocks/header') %>
    <h1>Добавление филиала</h1>
     <form action="/filialuszn/create" method="post">
        <label>Имя филиала</label><br>
        <input name="filial" class="field"/><br><br>
        <label>Город</label><br>
        <input name="town" class="field"/><br><br>
        <label>Сервер</label><br>
        <input name="server" class="field"/><br><br>
        <label>Порт</label><br>
        <input name="port" class="field"/><br><br>
        <label>БД</label><br>
        <input name="db" class="field"/><br><br>
        <label>Маска файла</label><br>
        <input name="filemask" class="field"/><br><br>
        <label>E-mail</label><br>
        <input name="email" class="field"/><br><br>
        <label>Файл</label><br>
        <input name="filename" class="field"/><br><br>
        <label>Номер заявки</label><br>
        <input name="ticket" class="field"/><br><br>

        <input type="submit" value="Отправить" />
     </form>
     <%- include('blocks/footer') %>
</body>
<html>
