<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <%- include('blocks/head') %>
</head>
<body class="d-flex flex-column h-100">
    <%- include('blocks/header') %>
    <div id="main">
        <!-- Статья -->
        <article>
            <!-- <video id="videoPlayer" controls>
                <source src="/public/video/0_bandicam 2019-08-02 07-04-56-292.avi" type="video/avi">
            </video>
            <video src="/public/video/0_bandicam 2019-08-02 07-04-56-292.avi" preload autoplay controls="controls"></video><br>
            <video controls="controls" src="//srvnesk01-025v.nesk.ru/Video/UAP/1_day_UAP.mp4" autoplay poster=""></video><br>
            <audio controls="controls" src="/public/music/filatov_karas_feat__masha_-_lirika.mp3"></audio><br> -->
            <a href="/public/doc/Billberry_all_inf.pdf">Billberry_all_inf.pdf</a>
        </article>
        <!-- Навигация -->
        <nav></nav>
        <!-- Боковая панель -->
        <aside></aside>
    </div>
    <%- include('blocks/footer') %>
</body>
<html>
