<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <%- include('blocks/head') %>
</head>
<body class="d-flex flex-column h-100">
    <%- include('blocks/header') %>
    <div id="main">
        <!-- Статья -->
        <article></article>
        <!-- Навигация -->
        <nav></nav>
        <!-- Боковая панель -->
        <aside></aside>
    </div>
    <%- include('blocks/footer') %>
</body>
<html>
