<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Разработчик: Назарко Иван Сергеевич</span><br>
        <span class="text-muted">В соцсетях:</span><br>
        <a href="https://www.facebook.com/ivan.nazarko.1"><img src="/public/images/fb.svg" width="35" height="35"></a>
        <a href="https://vk.com/vahcetti"><img src="/public/images/vk.svg" width="35" height="35"></a>
        <a href="https://www.instagram.com/vahcetti/?hl=ru"><img src="/public/images/in.svg" width="35" height="35"></a>
        <a href="https://ok.ru/profile/116382354547"><img src="/public/images/ok.svg" width="35" height="35"></a>
    </div>
</footer>
