<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bd-navbar flex-nowrap">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <img src="/public/images/logo.svg" align="middle" width="100" hspace="10"/>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/filialuszn">К списку УСЗН</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/template">Генератор документов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О сайте</a>
                </li>
          </ul>
        </div>
    </nav>
</header>
